{% set buttonType = addButton.type|default('input')  %}
{% set placeholder =  addButton.placeholder|default('Add')  %}

{% if noAdd  %}
{% else if user and canEdit %}
      {% if  buttonType == 'textarea' %}
       <textarea class="input-xxlarge autoGrow" name="{{ addButton.name }}" placeholder="{{ placeholder }}" title="{{ placeholder }}" rows="1"></textarea>
       <button type="submit" class="btn btn-primary btn-mall" href=""><i class="icon-plus icon-white"></i> {{ addButton.buttonText}}</button>
     {% else %}
      <div class="input-append">
       <input type="text" class="addInput input-xxlarge" name="{{ addButton.name }}" id="{{ addButton.name }}"
               placeholder="{{ placeholder }}" title="{{ placeholder }}" />
       <button class="btn btn-primary btnAdd" type="button"  data-context='{{ button_action|json_encode(0)|raw }}'>Add</button>
      </div>
     {% endif %}

{% else %}
    <span class="loginPlease">{{ addButton.loginPlease }}</span>
{% endif %}
