{% extends "layout.html" %}

{% block pageTitle %}My collections in Links.to{% endblock %}
{% block title %}<h1>{{ title2 }}</h1>{% endblock %}

{% block content %}
  <div class="row table-header">
    <div class="span5 table-header">Collection Name</div>
    <div class="span1 coll-e">Links</div>
    <div class="span2 coll-e">Last updated</div>
    <div class="span2 coll-e">Created</div>
  </div>

  {% for coll in grid %}
      <div class="row">
          <div class="span5 coll-title">
            <a href="/coll/{{ coll._id }}" title="{{ coll.description }}" >{{ coll.title }}
              {% if user && coll.userID == user._id %}
                 <span class="icon-user" title="This collection is mine"></span>
              {% endif %}
            </a>
            <span>{{ coll.desciption  }}</span>
          </div>
          <div class="span1 coll-e">{{ coll.links.length|default(0)  }}</div>
          <div class="span2 coll-e">{{ coll.updated|date('Y-m-d H:i') }}</div>
          <div class="span2 coll-e">{{ coll.created|date('Y-m-d H:i') }}</div>
      </div>
  {% endfor %}
{% endblock %}


{% block contentBottom %}
  <div class="row">
    <div class="span12 button">
        {% include "add-button.html" %}
    </div>
  </div>
{% endblock %}
