{% extends "layout.html" %}

{% block pageTitle -%}Collection {{ collection.title }}{%- endblock %}
{% block title -%}<h1 class="{{ macros.eip( canEdit)}}" id="title">{{ collection.title }}
  </h1>
{% if canDelete && !grid.length %}
<a class="btn btn-danger btn-mini"  href="/coll/{{ collection._id }}/delete?back=/coll/mine"><i class="icon-trash icon-white"></i> Delete</a>
{% endif %}

{%- endblock %}

{% block content %}
  <div class="row">
    <div class="span8 {%if canEdit %}eip{% endif %} ta wrap" id="description" >{{ collection.description }}</div>
  </div>
<div class="row">
  <div class="span3 ">
    <!-- span class="coll-e">Updated {{ collection.updated|date('Y-m-d H:i') }}</span -->
  </div>
</div>
<br/>
<div class="row">
  <div class="span12 button">
    {% include "add-button.html" %}
  </div>
</div>

<div id="grid">
{% for link in grid %}
  {{ macros.blocked_link( link, canEdit, canDelete, collection, user) }}




  {% else %}
  <div class="row">
    <div class="span6">No links in this collection yet.</div>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block contentBottom %}
{% endblock %}

{% block pageBottom %}
   {% parent %}
    <div class="eipBase" data-url="/coll/{{ collection._id }}/eip"><br/></div>
    <script type="text/javascript" src="/static/js/jquery.editinplace.js"></script>
    <script type="text/javascript" src="/static/js/jquery.autosize.js"></script>
    <script type="text/javascript" src="/static/js/edit-in-place.js"></script>
    <script type="text/javascript" src="/static/js/autoGrowInput.js"></script>

     <script type="text/javascript" src="/static/js/collection-link-edit.js"></script>
{% endblock %}
