{% extends "layout.html" %}

{% block pageTitle %}My collections in Links.to{% endblock %}
{% block title %}<h1>{{ title2 }}</h1>{% endblock %}
{% block error %}{{ error }}{% endblock %}

{% block pageParam -%} , route:'collection:list', param:{{ param|json_encode(0)|raw }}, filter: {{ filter|json_encode(0)|raw }} {%- endblock %}

{% block content %}

  {% for coll in grid %}
      {% if loop.first %}
        <div class="row table-header">
          <div class="span5 table-header">Collection Name</div>
          <div class="span1 coll-e">Links</div>
          <div class="span2 coll-e">Last updated</div>
        </div>
      {% endif %}
      <div class="row">
          <div class="span5 coll-title">
            <a href="/coll/{{ coll._id }}" title="{{ coll.description }}" >{{ coll.title }}
              {% if user && coll.owner == user._id %}
                 <span class="icon-user" title="This collection is mine"></span>
              {% endif %}
            </a>
            <span>{{ coll.desciption  }}</span>
          </div>
          <div class="span1 coll-e">{% if coll.links.length %}{{ coll.links.length|default(0)  }}{% endif %}</div>
          <div class="span2 coll-e">{% if coll.updated %}{{ coll.updated|default(coll.created)|date('Y-m-d H:i') }}{% endif %}</div>
      </div>
  {% else %}
      <div class="row">
        <div class="span8">No collections available yet.</div>
      </div>
  {% endfor %}
{% endblock %}


{% block contentBottom %}
  <div class="row">
    <div class="span12 button">
        {% include "add-button.html" %}
    </div>
  </div>
{% endblock %}
