/*
import 'bootstrap';
import 'responsive';

@bodyBackground: #FAF7EC;
@navbarBrandColor: #989CAE;

.brand {   font-family: @monoFontFamily;
*/

body {
  margin-top: 45px;
  background: #efefef url(/images/gray_jean.png);
}

@import '../less/wrap-nowrap';
@import '../less/shadow-border-gradient';

@import '../less/auth-icons';
@import '../less/user';
@import '../less/tags';
@import '../less/navbar';
@import '../less/image-dropdown';
@import '../less/link';
@import '../less/under-edit';

.row.table-header{    margin-top:.8em; }
.row.table-header > div {
  border-bottom: 1px solid gray;
 /*  background-color: #ffffff; */
}

.w100 {width:100% !important}
.w95 {width:95% !important}
.hovered{ 	border:1px solid blue; background-color: red; }
.floatR{ float: right}

h3,h4, h5{
  float:left;
  margin-right:.5em;
}

