/*
import 'bootstrap';
import 'responsive';

@bodyBackground: #FAF7EC;
@navbarBrandColor: #989CAE;


.brand {
  font-family: @monoFontFamily;
}

*/

body {
  margin-top: 45px;
}
@import 'wrap-nowrap';
@import 'auth-icons';
@import 'user';

.dropdown-menu li * { vertical-align: middle; }

.navbar .brand {
  font-weight: bold;
  color: #fff;
}

.navbar .nav > li > a:hover {	color: yellow;}
.logout {
  margin-right: 0;
}

form.form-add-by-name{	margin-top: 1em;}

.row.table-header{    margin-top:.8em; }
.row.table-header > div {
  border-bottom: 1px solid gray;
  background-color: #ffffff;
}

.minititle{ font-weight: bold }
.description{}