/*
import 'bootstrap';
import 'responsive';

@bodyBackground: #FAF7EC;
@navbarBrandColor: #989CAE;

.brand {   font-family: @monoFontFamily;
*/
body {
  margin-top: 45px;
  background: #efefef url(/images/gray_jean.png);
}
/* @import '../less/reset'; */
/*
 LESS DSS (dynamic stylesheet) 1.8.5 (for less.js 1.3+)
 MORE INFO: http://cl.ly/Dqnr

 https://github.com/mrkrupski/LESS-Dynamic-Stylesheet

 LESS mixins by Chris Krupski
*/
/* Backgrounds Group
========================== */
/* @group gradient-veritical() */
/* @end */
/* @group background-clip() */
/* @end */
/* Box Group
========================== */
/* @option: box-display() */
/* @end */
/* @group box-shadow() */
/* @end */
/* Border Group
========================== */
/* @group rounded() */
/* @end */
/* Transform Group
========================== */
/* @group matrix() */
/* @end */
/* @group rotate() */
/* @end */
/* @group scale() */
/* @end */
/* @group translate() */
/* @end */
/* @group skew() */
/* @end */
/* Transition
========================== */
/* Animation Group
========================== */
/* Column
========================== */
/* Misc Group
========================== */
.noWrap {
  white-space: nowrap;
}
.wrap {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.wrap2 {
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
}
/*
http://css-tricks.com/snippets/css/useful-css3-less-mixins/
*/
/*  ’2px 2px 3px 4px #000, 'inset -2px 1px 1px 0 #000′) */
/*
.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
*/
.auth-icon,
.auth-icon32 {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-right: .3em;
  vertical-align: text-top;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-right: 4px;
}
.auth-icon32 {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.dropdown-menu li * {
  vertical-align: middle;
}
.auth-google {
  background-image: url("../images/social/google_16.png");
}
.auth-google32 {
  background-image: url("../images/social/google_32.png");
}
.auth-yahoo {
  background-image: url("../images/social/yahoo_16.png");
}
.auth-yahoo32 {
  background-image: url("../images/social/yahoo_32.png");
}
.auth-facebook {
  background-image: url("../images/social/facebook_16.png");
}
.auth-facebook32 {
  background-image: url("../images/social/facebook_32.png");
}
.auth-twitter {
  background-image: url("../images/social/twitter_16.png");
}
.auth-twitter32 {
  background-image: url("../images/social/twitter_32.png");
}
.auth-twitter {
  background-image: url("../images/social/twitter_16.png");
}
.auth-twitter32 {
  background-image: url("../images/social/twitter_32.png");
}
.auth-linkedin {
  background-image: url("../images/social/linkedin_16.png");
}
.auth-linkedin32 {
  background-image: url("../images/social/linkedin_32.png");
}
.auth-windowslive {
  background-image: url("../images/social/windowslive_16.png");
}
.auth-windowslive32 {
  background-image: url("../images/social/windowslive_32.png");
}
.auth-meetup {
  background-image: url("../images/social/meetup_16.png");
}
.auth-meetup32 {
  background-image: url("../images/social/meetup_32.png");
}
.auth-meetup {
  background-image: url("../images/social/meetup_16.png");
}
.auth-meetup32 {
  background-image: url("../images/social/meetup_32.png");
}
.auth-dropbox {
  background-image: url("../images/social/dropbox_16.png");
}
.auth-dropbox32 {
  background-image: url("../images/social/dropbox_32.png");
}
.auth-linkedin {
  background-image: url("../images/social/linkedin_16.png");
}
.auth-linkedin32 {
  background-image: url("../images/social/linkedin_32.png");
}
.user-img96 {
  width: 96px;
  height: 96px;
  margin-left: 5px;
  border: 1px gray solid;
  background-color: silver;
}
.user-img27,
.missing-user27 {
  width: 27px;
  height: 27px;
  /*	border: 1px gray solid; */
  background-color: silver;
}
.user-name {
  color: black;
  font-size: 120%;
  font-weight: bold;
}
.user-email {
  color: black;
}
.missing-user27 {
  background: url(../images/icons/24/user-3.png) no-repeat center;
  display: inline-block;
}
.missing-user32 {
  background: url(../images/icons/32/user-3.png) no-repeat center;
  display: inline-block;
}
.missing-user96 {
  background: url(../images/icons/96/user-3.png) no-repeat center;
  width: 96px;
  height: 96px;
  border: 1px gray solid;
}
.logged-user {
  margin: 6px 0 0 0 !important;
  padding: 0 !important;
}
.logged-user b.caret {
  margin-top: 14px;
}
.tag-row * {
  vertical-align: top;
}
span.updated i {
  margin-right: 0.25em;
}
.tags a {
  float: left;
  background: #ccc;
  /*#c5c5c5; */
  color: black;
  text-decoration: none;
  margin: 0 5px 0px 0;
  padding: 0px 4px;
  position: relative;
  /*  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); */
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  /*  box-shadow: 5px 3px 10px rgba(50, 50, 50, 0.45);
  -webkit-box-shadow: 5px 3px 10px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 5px 3px 10px rgba(50, 50, 50, 0.45);
*/
  transition: all .25s linear;
}
.tags a:hover {
  background-color: #39F;
}
.tag-row {
  margin-top: 10px;
}
/*
.tags a {
  float: left;
  background: lightgoldenrodyellow;
  color: black;
  text-decoration: none;
  margin: 0 0 10px 18px;
  padding: 1px 10px 1px;
  position: relative;
  transition: all .25s linear;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  line-height: 1.5em;

  .rounded(3px);
  box-shadow: 5px 3px 10px rgba(50, 50, 50, 0.45);
  -webkit-box-shadow: 5px 3px 10px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 5px 3px 10px rgba(50, 50, 50, 0.45);
}

.tags a:before {
  content: "";
  border-style: solid;
  border-color: transparent lightgoldenrodyellow transparent transparent;
  border-width: 11px 12px 12px 0;
  position: absolute;
  left: -11px;
  top: 0;
  transition: all .25s linear;
}

.tags a:hover {
  background-color: #39F;
}
.tags a:hover:before {
  border-color: transparent #39F transparent transparent;
}

.tags a:after {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #bbb;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 2px 1px #737373 inset;
  content: "";
  height: 5px;
  left: -1px;
  position: absolute;
  top: .6em;
  width: 5px;
}

*/
.dropdown-menu li * {
  vertical-align: middle;
}
.navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar .brand {
  font-weight: bold;
  color: #fff;
}
.logout {
  margin-right: 0;
}
.dropdown-toggle {
  white-space: nowrap;
}
.logged-user b.caret {
  margin-top: 14px;
}
/*
li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
*/
#navbar {
  color: white;
}
.dropdown.open {
  line-height: 18px;
  margin-top: 1px;
}
/*
.dropdown-toggle .caret{
  margin-right: 4px;
  margin-left: -4px;
}
*/
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent !important;
  color: yellow;
  text-shadow: 0px 0px 15px yellow;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  color: yellow;
}
.navbar .nav > li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: none /* 0px 0px 15px #ddd; */;
}
.navbar .nav > li > a:hover {
  color: yellow;
  text-shadow: 0px 0px 15px yellow;
}
.breadcrumb {
  background-color: transparent;
}
.thumbnail > img {
  background-color: #eee;
  height: 96px !important;
  width: 96px !important;
}
ul.imgDropdown {
  list-style: none;
  float: left;
  margin: 0 .7em 0 0;
}
.iddCont {
  position: relative;
}
.iddCont li {
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}
a.iddDrop {
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  left: 1px;
  top: 1px;
  height: 15px;
  width: 15px;
}
a.iddDrop.closed {
  background: url(../images/icons/11/11x11-arrow-blue-down.gif) no-repeat center;
}
a.iddDrop.opened {
  background: url(../images/icons/11/11x11-arrow-blue-up.gif) no-repeat center;
}
a.iddDrop:hover {
  border: 1px solid gray;
  background-color: #888;
}
ul.opened {
  /* width:50%; */
}
ul.opened a.thumbnail {
  background-color: #0088cc;
}
ul.opened a.thumbnail.inactive {
  background-color: white;
}
.inactive {
  display: none;
}
.inactive.on {
  display: block;
}
body.collection h1 {
  font-size: 2.2em;
}
.link-content {
  background-color: white;
  padding: .6em;
  margin-bottom: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  /* for multi values */
  -webkit-box-shadow: 4px 4px 19px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 19px rgba(50, 50, 50, 0.75);
}
.minititle {
  font-weight: bold;
}
#description {
  margin-bottom: 1em;
}
.summary,
.description {
  font-weight: normal !important;
  font-size: 100%;
  line-height: initial !important;
}
.summary {
  margin-bottom: 0;
}
.link-title {
  font-size: 110%;
  margin-top: 0.8em;
}
.link-summary,
.link-descr {
  padding-left: 0.5em;
}
.link-updated {
  font-size: 100%;
}
.blocked-link {
  margin-bottom: 1em;
}
.link-top {
  margin-top: 1.5em;
}
.author {
  font-style: italic;
  font-size: 80%;
}
.link-title .btn {
  vertical-align: baseline;
}
.row.link-title {
  margin-bottom: .2em;
  position: relative;
}
#grid > div.row.descr {
  margin-bottom: 1.8em;
}
.favicon {
  width: 16px;
  height: 16px;
  vertical-align: baseline;
  background-color: #eee;
}
.link-tools-block {
  float: right;
}
.link-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  position: relative;
  top: .15em;
}
a.notFound,
a.notFound:link {
  text-decoration: line-through;
  color: red;
}
.vTop * {
  vertical-align: top;
}
.hidden2 {
  display: none;
}
.my-collection {
  color: cornflowerblue;
}
.coll-title-prefix {
  font-size: 60%;
}
.coll-links-list {
  padding-left: 1em;
}
.edit-label {
  padding: 4px 5px 4px 20px;
  margin-left: 10px;
  border: 1px solid transparent;
}
.active .edit-label {
  background-color: #DDD;
  border: solid 1px #aaa;
  border-left: none;
  padding-left: 21px;
}
.underEdit {
  background-color: lightblue;
}
.eip input {
  margin-top: 0;
  margin-bottom: 0;
}
NOT.eipBtn {
  height: 22px;
  padding-left: 20px;
}
NOT.eipBtn.btnEdit {
  background: transparent url(../images/icons/16/edit3.gif) no-repeat 0 50%;
}
NOT.eipBtn.btnDelete {
  background: transparent url(../images/icons/16/action_delete.gif) no-repeat 0 50%;
}
form.inplace_form * {
  float: left;
}
form.inplace_form textarea {
  width: 85%;
}
form.inplace_form button {
  width: 5em;
  margin-left: 0.4em;
}
.eip_hover {
  background: #ffffbb url(../images/icons/16/edit3.gif) no-repeat right 1px;
}
.eip {
  padding-right: 18px;
}
form.form-add-by-name {
  margin-top: 1em;
}
form .row input {
  margin-bottom: 2px;
}
form .row .title {
  font-size: 1.5em;
  height: 1em;
}
/* .form-inline input{ height: 28px}  */
.bdLabel {
  position: relative;
  display: inline-block;
  padding: .85em 0 0 0;
  margin-right: .5em;
  overflow: hidden;
}
.bdLabel span {
  color: blue;
  position: absolute;
  white-space: nowrap;
  top: .7em;
  background-color: #fff;
  z-index: 999;
  padding: 0 .3em ;
  margin: 0 0 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  font: normal 75% normal Arial, Helvetica, sans-serif;
}
.bdLabel textarea,
.bdLabel input {
  border: 1px dotted blue;
  overflow: auto;
  padding: .4em;
  vertical-align: top;
  display: inline-block;
}
i.import-folder {
  font-size: 120%;
}
.links-cont {
  padding-left: 15px;
}
input.excluded {
  position: relative;
  margin-top: -0.2em !important;
}
.row.excluded .coll-title {
  text-decoration: line-through !important;
  font-style: italic;
  color: #999;
}
.row .updated {
  font-style: italic;
}
#importDetails {
  empty-cells: show;
  border-collapse: collapse;
}
#importDetails td {
  text-align: right;
  vertical-align: middle;
}
ul.nav.nav-tabs {
  margin-bottom: 0;
}
ul.nav.nav-tabs a {
  min-width: 4em;
  text-align: center;
}
div.tab-content {
  background-color: white;
  padding: 1em;
}
.progress {
  margin-bottom: 5px;
}
.breadcrumb {
  padding-left: 0;
}
label {
  display: inline-block;
  vertical-align: middle;
}
input[type="radio"],
input[type="checkbox"] {
  margin: .2em .2em .2em .6em !important;
  line-height: normal;
}
.row.table-header {
  margin-top: .8em;
}
.row.table-header > div {
  border-bottom: 1px solid gray;
  /*  background-color: #ffffff; */
}
.w100 {
  width: 100% !important;
}
.w95 {
  width: 95% !important;
}
.hovered {
  border: 1px solid blue;
  background-color: red;
}
.floatR {
  float: right;
}
h3,
h4,
h5 {
  float: left;
  margin-right: .5em;
}
.label {
  display: inline-block !important;
  vertical-align: middle;
}
a.deleteIcon:link,
a.deleteIcon:visited,
a.deleteIcon:hover,
a.deleteIcon:active {
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
  color: red;
}
a.deleteIcon:hover {
  color: white;
  background-color: blue;
}
.deleting .link-content,
.deleting .coll-title {
  background-color: #888;
}
.noBrdRadius {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -khtml-border-radius: 0 !important;
  border-radius: 0 !important;
}
.farAway {
  position: absolute !important;
  left: -10000px;
  top: -1000px;
}
