/*

import 'bootstrap';
import 'responsive';


@bodyBackground: #FAF7EC;
@navbarBrandColor: #989CAE;


.brand {
  font-family: @monoFontFamily;
}

*/
body {
  margin-top: 45px;
  background: #efefef url(/images/gray_jean.png);
}
.noWrap {
  white-space: nowrap;
}
.wrap {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.wrap2 {
  white-space: pre;
  /* CSS 2.0 */

  white-space: pre-wrap;
  /* CSS 2.1 */

  white-space: pre-line;
  /* CSS 3.0 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  white-space: -moz-pre-wrap;
  /* Mozilla */

  white-space: -hp-pre-wrap;
  /* HP Printers */

  word-wrap: break-word;
  /* IE 5+ */

}
.auth-icon,
.auth-icon32 {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-right: .3em;
  vertical-align: text-top;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-right: 4px;
}
.auth-icon32 {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.dropdown-menu li * {
  vertical-align: middle;
}
.auth-google {
  background-image: url("../images/social/google_16.png");
}
.auth-google32 {
  background-image: url("../images/social/google_32.png");
}
.auth-yahoo {
  background-image: url("../images/social/yahoo_16.png");
}
.auth-yahoo32 {
  background-image: url("../images/social/yahoo_32.png");
}
.auth-facebook {
  background-image: url("../images/social/facebook_16.png");
}
.auth-facebook32 {
  background-image: url("../images/social/facebook_32.png");
}
.auth-twitter {
  background-image: url("../images/social/twitter_16.png");
}
.auth-twitter32 {
  background-image: url("../images/social/twitter_32.png");
}
.auth-twitter {
  background-image: url("../images/social/twitter_16.png");
}
.auth-twitter32 {
  background-image: url("../images/social/twitter_32.png");
}
.auth-linkedin {
  background-image: url("../images/social/linkedin_16.png");
}
.auth-linkedin32 {
  background-image: url("../images/social/linkedin_32.png");
}
.auth-windowslive {
  background-image: url("../images/social/windowslive_16.png");
}
.auth-windowslive32 {
  background-image: url("../images/social/windowslive_32.png");
}
.auth-meetup {
  background-image: url("../images/social/meetup_16.png");
}
.auth-meetup32 {
  background-image: url("../images/social/meetup_32.png");
}
.auth-meetup {
  background-image: url("../images/social/meetup_16.png");
}
.auth-meetup32 {
  background-image: url("../images/social/meetup_32.png");
}
.auth-dropbox {
  background-image: url("../images/social/dropbox_16.png");
}
.auth-dropbox32 {
  background-image: url("../images/social/dropbox_32.png");
}
.auth-linkedin {
  background-image: url("../images/social/linkedin_16.png");
}
.auth-linkedin32 {
  background-image: url("../images/social/linkedin_32.png");
}
.user-img96 {
  width: 96px;
  height: 96px;
  margin-left: 5px;
  border: 1px gray solid;
  background-color: silver;
}
.user-img27,
.missing-user27 {
  width: 27px;
  height: 27px;
  /*	border: 1px gray solid; */

  background-color: silver;
}
.user-name {
  color: black;
  font-size: 120%;
  font-weight: bold;
}
.user-email {
  color: black;
}
.missing-user27 {
  background: url(../images/icons/24/user-3.png) no-repeat center;
  display: inline-block;
}
.missing-user96 {
  background: url(../images/icons/96/user-3.png) no-repeat center;
  width: 96px;
  height: 96px;
  border: 1px gray solid;
}
.logged-user {
  margin: 6px 0 0 0 !important;
  padding: 0 !important;
}
.logged-user b.caret {
  margin-top: 14px;
}
/*
http://css-tricks.com/snippets/css/useful-css3-less-mixins/
*/
/*  ’2px 2px 3px 4px #000, 'inset -2px 1px 1px 0 #000′) */
/*
.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
*/
.dropdown-menu li * {
  vertical-align: middle;
}
.navbar .brand {
  font-weight: bold;
  color: #fff;
}
.navbar .nav > li > a:hover {
  color: yellow;
}
.logout {
  margin-right: 0;
}
form.form-add-by-name {
  margin-top: 1em;
}
.row.table-header {
  margin-top: .8em;
}
.row.table-header > div {
  border-bottom: 1px solid gray;
  background-color: #ffffff;
}
.minititle {
  font-weight: bold;
}
/*   --- to be sorted out */
#description {
  margin-bottom: 1em;
}
.summary,
.description {
  font-weight: normal !important;
  font-size: 100%;
  line-height: initial !important;
}
#grid > div.row.descr {
  margin-bottom: 1.8em;
}
.link-title {
  font-size: 130%;
  margin-top: 0.8em;
}
.link-summary,
.link-descr {
  padding-left: 0.5em;
}
.link-updated {
  font-size: 100%;
}
.blocked-link {
  margin-bottom: .8em;
}
.link-top {
  margin-top: 1.5em;
}
.underEdit,
.link-content {
  background-color: white;
  padding: 4px;
  margin-bottom: 4px;
}
.underEdit {
  background-color: lightblue;
}
.thumbnail > img {
  background-color: #eee;
  max-height: 72px !important;
  max-width: 72px !important;
}
ul.imgDropdown {
  list-style: none;
  float: left;
  margin: 0 5px 5px 0;
}
.iddCont {
  position: relative;
}
.iddCont li {
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}
a.iddDrop {
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  left: 1px;
  top: 1px;
  height: 15px;
  width: 15px;
}
a.iddDrop.closed {
  background: url(../images/icons/11/11x11-arrow-blue-down.gif) no-repeat center;
}
a.iddDrop.opened {
  background: url(../images/icons/11/11x11-arrow-blue-up.gif) no-repeat center;
}
a.iddDrop:hover {
  border: 1px solid gray;
  background-color: #888;
}
ul.opened {
  /* width:50%; */

}
ul.opened a.thumbnail {
  background-color: #0088cc;
}
ul.opened a.thumbnail.inactive {
  background-color: white;
}
.inactive {
  display: none;
}
.inactive.on {
  display: block;
}
.eip input {
  margin-top: 0;
  margin-bottom: 0;
}
NOT.eipBtn {
  height: 22px;
  padding-left: 20px;
}
NOT.eipBtn.btnEdit {
  background: transparent url(../images/icons/16/edit3.gif) no-repeat 0 50%;
}
NOT.eipBtn.btnDelete {
  background: transparent url(../images/icons/16/action_delete.gif) no-repeat 0 50%;
}
.dropdown-toggle {
  white-space: nowrap;
}
.logged-user b.caret {
  margin-top: 14px;
}
.summary {
  margin-bottom: 0;
}
.w100 {
  width: 100% !important;
}
.w95 {
  width: 95% !important;
}
.hovered {
  border: 1px solid blue;
  background-color: red;
}
.floatR {
  float: right;
}
.author {
  font-style: italic;
  font-size: 80%;
}
.favicon {
  width: 16px;
  height: 16px;
  vertical-align: baseline;
  background-color: #eee;
}
.row.link-title {
  margin-bottom: .2em;
  position: relative;
}
.edit-label {
  padding: 4px 5px 4px 20px;
  margin-left: 10px;
  border: 1px solid transparent;
}
.active .edit-label {
  background-color: #DDD;
  border: solid 1px #aaa;
  border-left: none;
  padding-left: 21px;
}
form.inplace_form * {
  float: left;
}
form.inplace_form textarea {
  width: 85%;
}
form.inplace_form button {
  width: 5em;
  margin-left: 0.4em;
}
.eip_hover {
  background: #ffffbb url(../images/icons/16/edit3.gif) no-repeat right 1px;
}
.eip {
  padding-right: 18px;
}
form .row input {
  margin-bottom: 2px;
}
form .row .title {
  font-size: 1.5em;
  height: 1em;
}
/* .form-inline input{ height: 28px}  */
h3,
h4,
h5 {
  float: left;
  margin-right: .5em;
}
.link-title .btn {
  vertical-align: baseline;
}
.tag-label {
  margin-left: 5px;
  paddin-left: 6px;
  float: right;
  /*  border:1px solid #444; */

  font-weight: normal;
  background-color: #468847;
  color: white;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tag-label * {
  vertical-align: baseline ;
}
.tag-label .tag-name {
  margin-right: 0;
  padding: 0px 2px 3px 6px;
}
.tag-label .tag-number {
  margin-left: 0;
  color: white;
  background-color: #333;
  padding: 1px 4px;
  min-width: 1em;
}
.tag-row * {
  vertical-align: top;
}
