.navbar-inner {
    background-color: transparent;
    background-image: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:none;
    box-shadow: none;
}
h1,h2,h3{
    color:#e8e8e8;
}
body,
.breadcrumb *,
p,
a, #content, #beforeContent,
#importDetails,
.user-badge-box *,
.btn,
.dropdown-menu *,
input
{  color:#ddd !important; }

.dropdown-menu, .breadcrumb, .nav-tabs * {  background-color: transparent !important; border:0 }
.auth-icon32, .missing-user96, .missing-user27{background: none; border:0}


.navbar .brand, .navbar .brand a{
    color:#eee !important;
}
.navbar .nav>li>a {
   color:#eee;
}

.row.table-header > div {
    border-bottom: none;
    background-color: transparent;
}

div.tab-content,
.input-append input,
.btn
{
    background: none;
}

.my-collection,
a.deleteIcon:link, a.deleteIcon:visited, a.deleteIcon:hover, a.deleteIcon:active {
    color: inherit;
}

.link-content {
    background-color: inherit;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tags a {
    background: none;
    color: inherit;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}