
.link-top{ margin-top:1.5em}
.blocked-link { margin-bottom: .8em}

.summary{ margin-bottom:0}
.w100 {width:100% !important}
.hovered{ 	border:1px solid blue; background-color: red; }

.minititle { font-weight: bold; }

.author {
	font-style: italic;
	font-weight: bold;
}

.favicon{
	width:16px;
  height:16px;
  vertical-align:baseline;
	background-color: #eee;
}

.row.link-title{ margin-bottom:.4em; }


.edit-label{
	padding: 4px 5px 4px 20px;
	margin-left: 10px;
	border:1px solid transparent;
}

.active .edit-label{
	background-color:#DDD;
	border: solid 1px #aaa;
	border-left:none;
	padding-left: 21px;
}

.eip_hover{ background: #ffffbb url(../public/images/icons/16/edit3.gif) no-repeat right 1px;}
.eip { padding-right: 18px }
.eip input {  margin-top:0;  margin-bottom: 0;}

form.inplace_form * { 	float: left; }
form.inplace_form textarea { 	width:85% }
form.inplace_form button { 	width:5em; margin-left:.4em }
form .row input{	margin-bottom:2px }
form .row .title{	font-size: 1.5em;	height: 1em;}

.thumbnail > img{
	background-color: #eee;
	max-height:111px;
}


.dropdown-toggle{   white-space: nowrap;}
ul.imgDropdown{
	list-style: none;
	margin-left: 0;
}

.iddCont{	position: relative; }
a.iddDrop{
   border:1px solid transparent;
	position:absolute;
	right: -14px;
	top:0;
}
a.iddDrop:hover{ 	border:1px solid gray; }

.inactive{ display: none }
.inactive.on{ display: block }
.form-inline input{ height: 28px}




#description{  margin-bottom: 1em;}
#description, .description{  font-weight: normal !important;  font-size: 100%;}

.link-title{ font-size: 130%; margin-top:.8em }
.link-summary, .link-descr{ padding-left: 0.5em; }
.link-updated{ font-size: 100%; }


#grid >div.row.descr { margin-bottom:1.8em;}

