
.tag-label{
  margin-left: 5px;
  paddin-left:6px;
  float:right;
/*  border:1px solid #444; */
  font-weight: normal;
  background-color: #468847;
  color: white;
  .border-radiuses(0,0, 5px, 5px);
  &  * {   vertical-align: baseline ; }
  & .tag-name{
    margin-right:0;
    padding:0px 2px 3px 6px;
  }

  & .tag-number{
    margin-left: 0;
    color: white;
    background-color: #333;
    padding:1px 4px;
    min-width: 1em;
  }
}

.tag-row *{ vertical-align: top; }

span.updated{
  & i { margin-right: 0.25em;}
}
